/* Defining fonts */

@font-face {
    font-family: 'opensans';
    src: url('fonts/opensans-regular-webfont.woff2') format('woff2'),
        url('fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: 'opensans';
    src: url('fonts/opensans-bold-webfont.woff2') format('woff2'),
        url('fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: optional;
}

/* Colors */
:root {
    --color-primary: #30cf5f;
    --color-secondary: #131d15;
    --color-secondary-ish: #238c42;
    --color-dark: rgb(14, 14, 14);
    --color-link: rgb(0, 131, 178);
}

/* Global */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button {
    outline: none;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.hide {
    display: none;
}

.link {
    color: var(--color-link);
    text-decoration: none;
    cursor: pointer;
}

/* Utils */
.container {
    padding: 10px 5%;
}

@media screen and (min-width: 425px) {
    .container {
        padding: 10px 10%;
    }
}

.centered-text {
    text-align: center;
}

/* Typography */
html {
    font-size: 62.5%; /* 10px for people who use 16px as default */
}

body {
    font-family: 'opensans', Arial, Helvetica, sans-serif;
    font-size: 2rem;
    background-color: var(--color-dark);
    color: white;
}

h1,
h2 {
    margin-top: 3rem;
    margin-bottom: 0.6rem;
}

h3 {
    margin-top: 1rem;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
    margin: 0;
}

h3 {
    font-size: 3.5rem;
}

@media screen and (min-width: 786px) {
    body {
        font-size: 2.1rem;
    }

    h2 {
        font-size: 4.209rem;
    }

    h3 {
        font-size: 3.157rem;
    }

    h1 {
        margin-top: 5rem;
        margin-bottom: 1.5rem;
    }

    h3 {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
}

/* Nav */
.nav {
    display: flex;
    background: var(--color-primary);
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 3%;
}

.nav__logo {
    color: var(--color-dark);
    text-decoration: none;
    font-size: 4rem;
    position: relative;
    bottom: 5px;
    font-weight: bold;
}

.nav__dropdown-btn {
    width: 5rem;
    height: 5rem;
    background: none;
    border: none;
    cursor: pointer;
}

.nav__links {
    margin-top: 2rem;
    background: var(--color-secondary-ish);
    border-radius: 10px;
    justify-content: stretch;
    align-items: center;
    overflow: hidden;
    width: 100%;
    padding: 2rem;
    font-size: 3rem;
    list-style: none;
    gap: 1rem;
}

.nav__link {
    color: var(--color-dark);
    text-decoration: none;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
}

@media screen and (min-width: 786px) {
    .nav {
        padding: 20px 10% 10px;
    }

    .nav__dropdown-btn {
        position: relative;
        display: none;
    }

    .nav__links {
        background: var(--color-primary);
        position: relative;
        bottom: 7px;
        padding: 0;
        margin: 0;
        width: auto;
        display: flex;
        gap: 2rem;
    }
}

/* Certificate */
.certificate-img {
    margin-top: 1rem;
    width: 100%;
    border-radius: 10px;
}

.image-article {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
}

@media screen and (min-width: 786px) {
    .image-article {
        display: grid;
        grid-template-columns: 1.25fr 0.75fr;
        gap: 3rem;
        margin-bottom: 3rem;
    }
}

/* Sections */
section {
    background: var(--color-secondary);
    padding: 2rem;
    border-radius: 10px;
    margin: 30px 0;
}

section h2 {
    text-align: center;
    margin-bottom: 2rem;
}

/* Skills section */

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skills img {
    height: 100px;
    margin: 10px;
    object-fit: cover;
}

/* projects */
.projects {
    list-style: none;
}

.project {
    margin: 20px 0;
}

#go-to-top {
    transition: display 0.15s;
    display: none;
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 25px;
    border: none;
    background-color: var(--color-primary);
    cursor: pointer;
}

#go-to-top img {
    width: 50%;
    position: relative;
    right: 0.5px;
    top: 2px;
}
