/* Defining fonts */

@font-face {
    font-family: "opensans";
    src: url("fonts/opensans-regular-webfont.woff2") format("woff2"),
        url("fonts/opensans-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: "opensans";
    src: url("fonts/opensans-bold-webfont.woff2") format("woff2"),
        url("fonts/opensans-bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: optional;
}

/* Typography */
html {
    font-size: 62.5%; /* 10px for people who use 16px as default */
}

body {
    font-family: "opensans", Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

h1 {
    font-size: 2.986rem;
}

h2 {
    font-size: 3.052rem;
}

h3 {
    font-size: 2.441rem;
}

@media screen and (min-width: 786px) {
    body {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 5.61rem;
    }

    h2 {
        font-size: 4.209rem;
    }

    h3 {
        font-size: 3.157rem;
    }
}
