@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'Roboto';
    src: url('/static/fonts/roboto/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/static/fonts/roboto/Roboto-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/static/fonts/roboto/Roboto-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('/static/fonts/roboto/Roboto-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

.top-gradient {
    height: 35rem;
    width: 100%;
    background: linear-gradient(
        4deg,
        rgba(17, 24, 39, 1) 50%,
        rgba(40, 52, 71, 1) 100%
    );
    position: absolute;
    top: 0;
    right: 0;
    z-index: -10;
}
